@import "app/sass/workspace/_2-fonts.scss";
@import "app/sass/workspace/_3-variables.scss";

// main


.first {
    background-color: #66abdb; // make a gradient
    position: relative;
}
.first-content{
    position: relative;
    padding-top: 32rem; // to delete later
    padding-bottom: 25.2rem;
}


.message-and-form{
    display: inline-block;
    z-index: 2;
    padding-left: 4.5rem;

    .big-message{

        // display: inline-block;
        
        font-family: $ub;
        font-size: $f52;
        color: $white;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        line-height: 7.2rem;
    }
    .small-message{
        font-family: $ul;
        font-size: $f24;
        line-height: 4.7rem;
        color: $white;
        padding-top: 2.5rem;
        letter-spacing: 0.1rem;
    }
        .small-message{
        font-family: $ul;
        font-size: $f24;
        line-height: 4.7rem;
        color: $white;
        padding-top: 2.5rem;
        letter-spacing: 0.1rem;
        padding-bottom: 6.5rem;
    }

    .signup{
        font-family: $um;
        font-size: $f16;
        color: $white;
        text-transform: capitalize;
        
    }

    .free{
        font-family: $ub;
        text-transform: uppercase;
        background-color: #ffce54;
        border-radius: .6rem;
        padding: .6rem .6rem;
    }

    .signup input{
        margin-top: 4rem;
        height: 5.5rem;
        width: 42.2rem;
        border-radius: 1rem;
        border: none;
        
    }
    .signup input::placeholder{
        padding: 2.8rem;
        font-family: $ul;
        font-size: $f18;
        line-height: $f18;
        color:#bec2c8;
        padding-top: .5rem;
        
    }

    .signup input[type="email"]{
        font-size: $f18;
        color:#6f7175;
        padding-left: 2rem;

    }

    .btn-sign{
        height: 5.5rem;
        width: 11.3rem;
        background-color: #77c344;
        color: $white;
        text-transform: uppercase;
        font-family: $um;
        font-size: $f18;
        margin-left: 3.5rem;
        border-color: #77c344;
        border-radius: 1rem;
        transition: all .1s ease-in-out;
    }

    .btn-sign:hover{
        background-color: #70b840;
    }

}
    

.hand-phone{
    position: absolute;
    display: inline-block;
    padding-top: 10rem;
    right: 0;
    bottom: 0;
    height: 90%;
    
}
.cloud{
    position: absolute;
    z-index: 3;
    
}
.top-left{
    top: 25%;
    left: 9.5%;
    
}
.bottom-left{
    bottom: 8.8%;
    left: 12%;
}
.top-right{
    top: 35%;
    right: 16%;
}
.bottom-right{
    bottom: 10.6%;
    right: 5%;
}

.second{
    position: relative;
    background-color: #f8f8f8;
    width: 100%;
    overflow: hidden;
}


.third{
    position: relative;
    width: 100%;

    .our-benefits{
        font-family: $mpr;
        font-size: $f40;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.15rem;
        color: #5d6471;
        padding: 7.5rem 0;
        
    }

    .benefits-list{
        width: 40%;
        display: inline-block;
        list-style-type: none;

    }

    .macbook {
        display: inline-block;
        right: 0;
        position: absolute;
        // width: 60%;
        // position: absolute;
        // right: 0;
    }
    
    .maps{
        position: absolute;
        width: 83%;
        height: 81.3%;
        top: 6.5%;
        right: 0;
        background-color: #fff;
        
    }
    
}





