// variables

// colors
$logoBlack: #333333;
$logoBlue: #65a9d9;
$menuGrey:#868b94;
$greyActive: #5d6471;
$white:#f7f6f2;



//font-size
$f12: 1.2rem;


$f36: 3.6rem;

$f14: 1.4rem;
$f18: 1.8rem;
$f16: 1.6rem;
$f22: 2.2rem;
$f24: 2.4rem;
$f28: 2.8rem;
$f40: 4.0rem;
$f52: 5.2rem;


